{% extends  "hyde/templates/index.html" %}

{% block content_header %}
<div class="section-header container">
<h1>{{ section.title }}</h1>
<p>{{ section.description }}</p>
</div>
{% endblock content_header %}